/.git-auto
/.vscode
/a.exe
/c.exe
/exps.cpp.save
/exps.exe
/exps.exe.log
/exps.exe.log.dmp
/f2.cpp
/f2.cpp.save
/f2.exe
/kvadr.cpp.save
/kvadr.exe
/kvadr2.cpp.save
/kvadr2.exe
/kvadr2.exe.log
/kvadr2.exe.log.dmp
/kvadr3.exe
/kvadratka.exe
/kvadr_Unit_Check.cpp
/kvadr_Unit_Check.cpp.save
/kvadr_Unit_Check.exe
/unit.txt
/Unit.txt.save
/UNIT_test.txt.save
/Untitled2.save